
@{
    ViewData["Title"] = "Deposite";
}



@{
    ViewBag.Title = "Buy page";
}

<div class="row  justify-content-md-center mt-md-5" >

    <div class="col-md-5">
       
        <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
            <input name="label" value="@Context.User.Identity.Name" type="hidden">
            <input name="receiver" value="410013386253302" type="hidden">
            <input name="quickpay-form" value="shop" type="hidden">
            <input type="hidden" name="targets" value="Покупка офигенных денег котов !!!!!">
            
            <div class="row no-gutters">
                <div class="col-md-auto">
                    @*<label for="sum"></label><br />*@
                    <input type="number" id="Summ" onchange="OnPayAmountChange(this)" name="sum" value="100"  maxlength="10" data-type="number" class="form-control " type="text">
                </div>
                <div class="col-md-auto ml-1">Rub in Cat Money <tt id="ShowCourse"> </tt> </div>

            </div>
            

            @*<label for="sum">Способ оплаты </label>*@

            <div class="btn-group btn-group-toggle mt-4" data-toggle="buttons">

                <label class="btn  PayMethode " style="height:5rem ;width:9rem;
                   background-image:url(https://shop.vampirus.ru/static/images/stories/virtuemart/product/yandex8.jpg);
                   background-size:cover;">

                    <input type="radio" name="paymentType" value="PC" />

                </label>

                <label class="btn   PayMethode ml-1" style="height:5rem ;width:9rem;
                   background-image:url(https://moba-tel.ru/wp-content/uploads/2019/04/cards.jpg);
                   background-size:cover;">

                    <input type="radio" name="paymentType" value="AC">

                </label>

            </div>
            <br/>
            
                
           

            <input class="btn btn-success btn-lg mt-4" type="submit" name="submit-button" value="Оплатить">
            <input name="successURL" value="http://blackcatlottery.xyz/Money/DepositeOk" type="hidden">
            <input name="quickpay-back-url" value="http://blackcatlottery.xyz" type="hidden">
        </form>
    </div>

</div>

<script>
    var minValue = 50;
    var maxValue = 50000;
    var RubleCourse = @ViewBag.RoubleCourse;

    $('.PayMethode').on("click", function () {
       
        $('.PayMethode').removeClass('active1');
        $(this).addClass('active1');
    });
    function OnPayAmountChange(block) {
        //console.log(amount);
        if (minValue > block.value) block.value = minValue;
        if (maxValue < block.value) block.value = maxValue;
        $('#ShowCourse').text(block.value * RubleCourse);
    }
</script>


@*<button id="Join" class="btn btn-lg btn-primary my-2" onclick="f()">+100</button>*@


@*<script>
        function f() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Add","Money")',
            success: function () {
                alert('ok');
            }
        });
    }
    </script>*@