@inherits CPageBlock

<div class="py-md-4 px-md-4 py-sm-1 px-sm-1 bg-white border">
    <h3 class="text-block">
        @Model.Text
    </h3>
</div>


@functions
{
    MTextBlock Model => (Block as MTextBlock);
}
