@model IEnumerable<ArticleModel>
@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/News.css" rel="stylesheet" />

<div id="ArticlesBlock" class="row">
    <div id="ArticlesArea" class="col-9">

        @foreach (var article in Model)
        {

            <partial name="_Article" model="article" />

        }

    </div>
    <div id="ScrollArea" class="col-3">
        <div class="list-group">
            @*<div id="ScrollUp" class="list-item ">
                
            </div>
            <div id="ScrollDown" class="list-item">
               
            </div>*@
        </div>
    </div>
</div>


<script src="~/js/ArticlesScrollScript.js"></script>
<script>
   
</script>


@*<nav class="PaginationBlock">


    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="" href="@Url.Action("CreateArticlePersonalPage","News")">
                <img src="~/resources/icons/plus.png" style="height:32px;width:32px; margin-right:5px" />
            </a>
        </li>



        <li class="page-item"><a class="page-link" href="#">Предыдущая</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Следующая</a></li>
    </ul>
</nav>*@

