
@{ 
    Layout = "";
}
    <style>
        html {
            background-image: url(/resources/Pictures/Preview.jpg);
            background-color: blue;
            background-size: cover;
            overflow:hidden;
        }
    </style>
<html>
<body>

    @if (ViewBag.path == "")
    {
        

    }
    else
    {
        <style>
            iframe{
                height:100vh;
                width:100vw;
            }
        </style>
        <iframe src="@ViewBag.path"/>
    }
</body>

</html>

<script>

</script>