#Select-List
{
    margin-top:10%;
}
#Select-List img{
   
    width:80%;
}
#Select-List img:hover{
   
    transform:scale(1.2);
    transition:2s;
    cursor:pointer;
}
#Select-List .col{
    text-align:center;
}