@page 
@model CompleteModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Complete> L
@{
    ViewData["Title"] = "Complete";
}

<div class="d-flex justify-content-center">
    <h1 class="text-danger">@L["Complete"]</h1>
</div>
