<link href="~/css/EditBlockFrame.css" rel="stylesheet" />
<div id="EditBlockFrame">
    <div id="point-1" class="point"></div>
    <div id="point-2" class="point"></div>
    <div id="point-3" class="point"></div>
    <div id="point-4" class="point"></div>
    <div id="point-5" class="point"></div>
    <div id="point-6" class="point"></div>
    <div id="point-7" class="point"></div>
    <div id="point-8" class="point"></div>
</div>



