@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser AppUser = await UserManager.GetUserAsync(User);
    if(AppUser == null)
    {
        SignInManager.SignOutAsync();
    }
}


<style>
    .NavbarNav-adp{
        font-size: 2vmax
    }

    .CatMoney-1
    {
        height:6vw; 
        width:6vw ;
        max-height:64px;
        max-width:64px;
        min-height:32px;
        min-width:32px
    }
</style>



<ul class="navbar-nav align-items-center NavbarNav-adp">
    @if (SignInManager.IsSignedIn(User) && (AppUser != null))
    {


        <li class="nav-item">
            <a class="nav-link text-success " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @User.Identity.Name
            </a>
        </li>


        @*<li class="nav-item">
                <img src="~/resources/Cat_monet64.png" class="CatMoney-1"/>

                <tt id="money">@AppUser.Money</tt>
            </li>*@



    }
    else
    {

    }
</ul>