
@model Lottery.Models.PartialViewModels.SlideBarModel

<div id="SlideBarList">
    @{

        if (User.Identity.Name == Model.Owner)
        {

        <div class="SpawnBlockMenu">
            @* Боковая панель редактирования *@
            <nav id="menu" role="navigation">
                <!-- LikeBtn.com BEGIN -->
                <span class="likebtn-wrapper" data-theme="disk" data-identifier="@Model.Owner-@Model.PageName-PageLike" data-dislike_enabled="false"></span>
                <script>(function (d, e, s) { if (d.getElementById("likebtn_wjs")) return; a = d.createElement(e); m = d.getElementsByTagName(e)[0]; a.async = 1; a.id = "likebtn_wjs"; a.src = s; m.parentNode.insertBefore(a, m) })(document, "script", "//w.likebtn.com/js/w/widget.js");</script>
                <!-- LikeBtn.com END -->

                <div class="list-group">

                    <input id="SavePage-btn" class="btn btn-outline-primary  list-group-item SelectBlockButton" type="button" value="Save Page" />

                    <input id="AddPhoto-btn" class="btn btn-outline-success  list-group-item SelectBlockButton" type="button" value="Photo" />

                    <input id="AddList-btn" class="btn btn-outline-success  list-group-item SelectBlockButton" type="button" value="List" />

                    <input id="AddFrame-btn" class="btn btn-outline-success  list-group-item SelectBlockButton" type="button" value="IFrame" />

                    <input id="AddHTML-btn" class="btn btn-outline-success  list-group-item SelectBlockButton" type="button" value="Html" />

                    <input id="BackgroundLoad-btn" class="btn btn-outline-success  list-group-item SelectBlockButton" type="button" value="Background" />

                </div>


            </nav>
            
        </div>
            <div class="EditBlockMenu">
                @* Боковая панель редактирования *@
                <nav id="menu" role="navigation">

                    <div class="list-group">

                        @*<input id="" class="btn btn-outline-primary  list-group-item SelectBlockButton" type="button" value="make" />*@
                        Background rotate
                        <input id="BackgroundRotate-input" type="range" min="-180" max="180" step="1" value="0">
                        @*<iframe src="~/Modules/Html Color Codes.html" name="BackgroundColorPicker"/>*@
                        Background color
                        <input id="BackgroundColorPicker-input" type="color" value="#000002" />
                        Effects
                        <select name="Effects-input" id="Effects-input" size="1">
                            <option value="none">No</option>
                            <option value="confetti">Confetti</option>
                        </select>
                        Skew
                        <div class="row">
                            X<input id="ScewX-input" type="number" class="col" max="60" min="-60" value="0" />
                            Y<input id="ScewY-input" type="number" class="col" max="60" min="-60" value="0" />

                        </div>
                        Translate
                        <div class="row">
                            X<input id="TranslateX-input" type="number" class="col" max="100" min="-100" value="0" />
                            Y<input id="TranslateY-input" type="number" class="col" max="100" min="-100" value="0" />
                        </div>
                        Scale
                        <input id="Scale-input" type="range" min="0.1" max="3" step="0.1" value="0">
                        Layer
                        <input id="Layer-input" type="range" min="5" max="100" step="1" value="5">
                    </div>
                </nav>
            </div>


        }
        else
        {
            <nav id="menu" role="navigation">

                
                <div class="list-group">
                    <!-- LikeBtn.com BEGIN -->
                    <span class="likebtn-wrapper" data-theme="custom" data-btn_size="100" data-f_size="21" data-icon_size="40" data-icon_l="hrt1" data-icon_d="thmb4-d" data-icon_l_c="#ff0000" data-icon_l_c_v="#fccc00" data-icon_d_c_v="#000000" data-label_c="#403f38" data-label_c_v="#b4b3c3" data-bg_c_v="#ffffff" data-label_fs="r" data-i18n_like="like" data-ef_voting="push" data-identifier="@Model.Owner-PageLike" data-dislike_enabled="false"></span>
                    <script>(function (d, e, s) { if (d.getElementById("likebtn_wjs")) return; a = d.createElement(e); m = d.getElementsByTagName(e)[0]; a.async = 1; a.id = "likebtn_wjs"; a.src = s; m.parentNode.insertBefore(a, m) })(document, "script", "//w.likebtn.com/js/w/widget.js");</script>
                    <!-- LikeBtn.com END -->

                </div>
            </nav>

        }
    }

    @* кнопка открытия боковой панели *@
</div>
<div class="page-wrap">
    <button id="menu-toggle"></button>
</div>

<script>
    var PageLiked = "True" == '@Model.PageLiked';
    if (PageLiked) {
        document.getElementById("LikeButton").style.background = "brown";
    }
                    </script>
