@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}



<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">

            <partial name="_StatusMessage" model="Model.StatusMessage" />
            <div class="row">
                <div class="col-md-6">
                    
                    Confirm your Email
                </div>
            </div>

        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>