@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    bool EmailEnabled = (bool)ViewData["EmailEnabled"];
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="account" method="post">
                    <h4>Login</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-white"></div>
                    <div class="form-group">
                        <label asp-for="Input.UserName"></label>
                        <input asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                        @if (EmailEnabled)
                        {
                            <a class="btn btn-primary" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        }
                        <a class="btn btn-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        @if (EmailEnabled)
                        {
                          <button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Resend email confirmation</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
     