
#EditBlockFrame{
    height:300px;
    width:300px;
    position:absolute;
    background-color:black;
}


.point {
    position: inherit;
    width: 40px;
    height: 40px;
    border-radius: 48%;
    background-color: white;
    z-index:1;
}

#point-1 {
   
    bottom: 0;
    right: 0;
    margin-right: -20px;
    margin-bottom: -20px;
    cursor:nw-resize;
}
#point-2 {
    
    bottom: 48%;
    right: 0;
    margin-right: -20px;
    cursor:e-resize;
}
#point-3 {
   
    right: 0;
    margin-right: -20px;
    margin-top: -20px;
    cursor:ne-resize;
}
#point-4 {
   
    right: 48%;
    margin-top: -20px;
    cursor:n-resize;
}

#point-5 {
    
    margin-left: -20px;
    margin-top: -20px;
    cursor:nw-resize;
}

#point-6 {
    
    left: 0;
    bottom: 48%;
    margin-left: -20px;

    cursor:e-resize;
}
#point-7 {
   
    left: 0;
    bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;

    cursor:ne-resize;
}
#point-8 {
   
    bottom: 0;
    right: 48%;
    margin-bottom: -20px;
    cursor:n-resize;
}