@inherits CModalTemplete

@inject IStringLocalizer<CreateBlock> L

<SetupPageBlockForm Block="Block"></SetupPageBlockForm>
<div class="d-flex ">
    <button @onclick="Continue" class="btn btn-primary flex-fill">@L["Continue"]</button>
</div>
