@inherits CModalTemplete
@inject IStringLocalizer<EditBlock> L

<SetupPageBlockForm Block="Block"></SetupPageBlockForm>
<button @onclick="Continue" class="btn btn-primary w-100">@L["Continue"]</button>




