@*@page "/i"
@attribute [Authorize]

<div class="bg-light d-flex flex-column">
    <PagesManagment> </PagesManagment>
    <CreateNewPageDisplay Class="btn btn-primary btn-lg align-self-center">Create page</CreateNewPageDisplay>
</div>*@


