@model Lottery.Models.GameCreateModel

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="CreateGame" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Rate" class="control-label">Rate</label>
        <input type="number" asp-for="Rate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Time" class="control-label">Time</label>
        <input type="number" asp-for="Time" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DeltaTimeToJoin" class="control-label">DeltaTimeToJoin</label>
        <input type="number" asp-for="DeltaTimeToJoin" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MaxPlayers" class="control-label">MaxPlayers</label>
        <input type="number" asp-for="MaxPlayers" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MinPlayers" class="control-label">MinPlayers</label>
        <input type="number" asp-for="MinPlayers" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-default" />
    </div>
</form>
