@model Lottery.Models.GameCreateModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
    <form asp-action="EditGame" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="GameID" />
        </div>
        <div class="form-group">
            <label asp-for="Rate" class="control-label">Rate</label>
            <input type="number" asp-for="Rate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="GameFakeLevel" class="control-label">GameFakeLevel</label>
            <input type="number" asp-for="GameFakeLevel" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="MaxBotsCount" class="control-label">MaxBotsCount</label>
            <input type="number" asp-for="MaxBotsCount" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="MaxPlayers" class="control-label">MaxPlayers</label>
            <input type="number" asp-for="MaxPlayers" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="MinPlayers" class="control-label">MinPlayers</label>
            <input type="number" asp-for="MinPlayers" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Time" class="control-label">Time</label>
            <input type="number" asp-for="Time" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DeltaTimeToJoin" class="control-label">DeltaTimeToJoin</label>
            <input type="number" asp-for="DeltaTimeToJoin" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NeedMailConfirmed" class="control-label">NeedMailConfirmed</label>
            <input type="checkbox" asp-for="NeedMailConfirmed" class="form-control" />
        </div>


        <div class="form-group">
            <input type="submit" value="save" class="btn btn-default" />
        </div>
    </form>
