

    <div class="w-100">
        <a class="btn btn-dark btn-lg" asp-action="UserList">User list</a>
        @*<a class="btn btn-dark btn-lg" asp-action="Games">Games</a>
        <a class="btn btn-dark btn-lg" asp-controller="News" asp-action="OfferedArticles">Offered Articles</a>*@
    </div>


 