<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\YourSpace.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <urlCompression doDynamicCompression="true"/>
    </system.webServer>
  </location>
  
</configuration>
<!--ProjectGuid: b2fe863a-b944-4ace-86bb-f1de2ab33cea-->